<div class="cont-page">
    <div class="contenidoTop">
        <div class="titular">
            <p class="letraS previous">
                Panel de control
            </p>
            <p class="fas fa-angle-right fa-sm previous">
            </p>
            <p class="letraS actual">
                Proyectos
            </p>
        </div>
        <div class="project">
            <div>
                <p class = "letraG nito">
                    Proyectos
                </p>
            </div>
            <div>
                <button>Registar Proyectos</button>
            </div>
        </div>
        <div class="input-container">
            <i class="fas fa-search icon"></i>
            <input class="input-field" type="text" placeholder="Filtrar Proyectos">
        </div>
        <div class="navFle">
                 <div>
                    <p class="fas fa-angle-double-left flecha"></p>
                </div>
                <div>
                    <p class="fas fa-angle-left flecha"></p>
                </div>
                <div>
                    <p class="page-first nito">1-6</p>
                </div>
                <div>
                    <p class="page-last">de 6</p>
                </div>
                <div>
                    <p class="fas fa-angle-right flecha"></p>
                </div>
                <div>
                    <p class="fas fa-angle-double-right flecha"></p> 
                </div>
        </div>
    </div>
    
    <div class="content">
    
        <div class="renglon cabecera nito">
            <div class="celda">
                <p>NOMBRE</p>
            </div>
            <div class="celda">
                <p>PRESUPUESTO</p>
            </div>
            <div class="celda">
                <p>MONTO INVERTIDO</p>
            </div>
            <div class="celda-progreso">
                <p>PROGRESO</p>
            </div>
            <div class="celda-vacia">
                <p class="cont-vacio">..</p>
            </div>
        </div>

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda nito cantidad">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto nito">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Malla H3</p>
            </div>
            <div class="celda nito">
                <p>$20,000.00 USD</p>
            </div>
            <div class="celda-monto nito">
                <p>
                    $0.00 MXN
                </p>
                <p class="invertido">
                    $6720.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-restante">
                    <div class="barra-invertido">
                        <p class="porcentaje">60%</p>
                    </div>
                    <i class="fas fa-binoculars icon-pro"></i>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Proyecto de prueba</p>
            </div>
            <div class="celda nito">
                <p>$100,000.00 USD</p>
            </div>
            <div class="celda-monto nito">
                <p>
                    $0.00 MXN
                </p>
                <p class="completado">
                    $78,950.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-completado">
                    <div class="barra-contenido">
                        <p class="porcentaje">100%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda nito">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto nito">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda nito">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto nito">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda nito">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto nito">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda nito">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto nito">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

    </div>
</div>
