<div class="cont-page">
    <div class="contenidoTop">
        <p class="letraS">
            Panel de control > Proyectos
        </p>
        <div class="project">
            <p class = "letraG">
                Proyectos
            </p>
            <button>Registar Proyectos</button>
        </div>
        <div class="input-container">
            <i class="fas fa-search icon"></i>
            <input class="input-field" type="text" placeholder="Filtrar Proyectos">
        </div>
        <div class="navFle">
                 <div>
                    <p class="fas fa-angle-double-left flecha"></p>
                </div>
                <div>
                    <p class="fas fa-angle-left flecha"></p>
                </div>
                <div>
                    <p class="page-first">1-6</p>
                </div>
                <div>
                    <p class="page-last">de 6</p>
                </div>
                <div>
                    <p class="fas fa-angle-right flecha"></p>
                </div>
                <div>
                    <p class="fas fa-angle-double-right flecha"></p> 
                </div>
        </div>
    </div>
    
    <div class="content">
    
        <div class="renglon cabecera">
            <div class="celda">
                <p>NOMBRE</p>
            </div>
            <div class="celda">
                <p>PRESUPUESTO</p>
            </div>
            <div class="celda">
                <p>MONTO INVERTIDO</p>
            </div>
            <div class="celda-progreso">
                <p>PROGRESO</p>
            </div>
            <div class="celda-vacia">
                <p class="cont-vacio">..</p>
            </div>
        </div>

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

        <div class="renglon contenido">
            <div class="celda">
                <p>Prueba Ariel</p>
            </div>
            <div class="celda">
                <p>$900.00 USD</p>
            </div>
            <div class="celda-monto">
                <p>
                    $0.00 MXN
                </p>
                <p>
                    $0.00 USD
                </p>
            </div>
            <div class="celda-progreso">
                <span class="barra-progreso">
                    <div class="barra-contenido">
                        <p class="porcentaje">0%</p>
                        <i class="fas fa-binoculars icon-cont"></i>
                    </div>
                </span>
            </div>
            <div class="celda-vacia">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div> 

    </div>
</div>
