<div>
    <span>
        <i class="fa fa-tachometer-alt"></i>Panel de control
    </span>
    <span>
        <i class="fa fa-bell"></i>Notificaciones
    </span>
    <span>
        <i class="fa fa-rocket"></i>Proyectos
    </span>
    <span>
        <i class="fas fa-barcode"></i>Conceptos
    </span>
    <span>
        <i class="fa fa-tasks"></i>Requisiciones
    </span>
    <span>
        <i class="fa fa-handshake"></i>Convenios
    </span>
    <span>
        <i class="fa fa-comments-dollar"></i>Centro de negocios
    </span>
    <span>
        <i class="fa fa-shopping-bag"></i>Compras
    </span>
    <span>
        <i class="fa fa-money-check"></i>Pagos
    </span>
    <span>
        <i class="fas fa-donate"></i>Gastos
    </span>
    <span>
        <i class="fa fa-user-circle"></i>Mi cuenta
    </span>
    <span>
        <i class="fa fa-users"></i>Colaboradores
    </span>
    <span>
        <i class="fa fa-tractor"></i>Activos
    </span>
    <span>
        <i class="fa fa-cogs"></i>Configuración de módulos
    </span>
</div>