<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
    <div class="celda">
      <img class="logo" src="../assets/logo.png">
    </div>
    <div class="celda-input">
      <p class="fas fa-search icon"></p>
      <input class="input-field" type="text" placeholder="Buscar en Agricompra">
    </div>
    <div class="celda-user">
      <div class="profile-pic">
        <img class="user" src="../assets/user.jpg">
      </div>
      <div class="account">
        
        <div class="account-info">
          <p class="name">Julkie</p>
          <p class="name-info">Tester Account</p>
        </div>
        <div class="options">
          <p class="fas fa-chevron-down icon"></p>
        </div>
      </div>
      <div class="notifications">
        <p class="fa fa-bell icon"></p>
      </div>
    </div>
</header>
<section>
  <app-menu-lat></app-menu-lat>
  <app-contenido></app-contenido>
</section>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


